.knowNav{
    height: 100px;
    background-color: black;
   
}
.know{
    text-align: center;
    padding: 5%;
}


@media (max-width: 768px){
    .know img{
        width: 80%;
        padding: 5%;
    }

}