.products{
    background-color: rgb(0, 0, 0);
    padding: 4% 0%;
    text-align: center;
}
.products h1{
    color: white;
    margin-bottom: 5%;
}
.carousel{
    width: 30% !important; 
    margin-left: 35%;
}


@media (max-width: 768px){
    .products{
        padding: 25% 0%;
        text-align: center;
    }
    .products h1{
        margin-bottom: 15%;
    }
    .carousel{
        width: 80% !important; 
        margin-left: 10%;
    }

}