.sbwimg{
    width: 98.55%;
    
}
.sbw{
    margin-left: 10%;
}

.sbwh{
    margin-bottom: 60px;
}

.sbwbtn{
    font-size: 1.5em;
    background-color: black;
    color: white;
    padding: 10px 30px;
    font-weight: 700;
}
.sbwh h2{
    font-size: 4vh;
}
.sbwleft{
    padding-top: 15%;
}


.sbwright{
    padding-right: 0;
}

@media (max-width: 768px) { 
.sbw{
    margin-left: 0;
}
.sbwleft{
    text-align: left;
    margin-bottom: -90%;
   padding: 10% 20%;
}
.sbwimg{
    opacity: 0%;
}
}